{
  {
    name = "worklist",
    url = "https://raw.github.com/DND91/WorkList/master/worklist.lua"
  },
  {
    name = "dnd_util",
    url = "https://raw.github.com/DND91/WorkList/master/dnd_util.lua"
  },
  {
    name = "Task",
    url = "https://raw.github.com/DND91/WorkList/master/Task.lua"
  },
  {
    name = "Worker",
    url = "https://raw.github.com/DND91/WorkList/master/Worker.lua"
  }
}